@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: azure;
}

body{
    background: #000;
}

.btn{
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: yellow;
  color: #000;
  border: 1px solid white;
  font-weight: 600;
  cursor: pointer;
}

.btn-light{
  background: transparent;
  color: #fff;
  padding: 12px 40px ;
}

.btn:hover{
  transition: all 0.3s ease;
  background: rgba(255,255,255,0.2);
  color: #fff;
}
.card{
  display: flex;
}
